<div class="screen_top">
  <p class="contents_name ability_name1">A</p>
  <p class="contents_name ability_name2">BILITY</p>
</div>

<div class="abilitty_bg1">
  <div class="contents_txt">
      <p class="ability_contents_txt4">QUALIFICATION</p>
  </div>
  <div class="rl_select_button2">
      <div class="left_select_button2">
          <img src="../assets/img/left_select.png" alt="left_select_button" class="left_select_button_size">
      </div>
      <div class="right_select_button2">
          <img src="../assets/img/right_select.png" alt="right_select_button" class="right_select_button_size">
      </div>
  </div>
</div>
<div class="ability_dumy"></div>
<div class="abilitty_bg2">
  <div class="contents_txt">
      <p class="ability_contents_txt1">COORDINATION</p>
  <div class="ability_contents_txt_box">
      <p class="ability_contents_box_txt">色彩検定2級</p>
      </div>
  </div>
</div>
<div class="abilitty_bg3">
  <div class="contents_txt">
      <p class="ability_contents_txt2">DESIGN</p>
  <div class="ability_contents_txt_box">
      <p class="ability_contents_box_txt">Webデザイン技能検定2級</p>
      </div>
  </div>
</div>
<div class="abilitty_bg4">
  <div class="contents_txt">
      <p class="ability_contents_txt3">SYSTEM</p>
  <div class="ability_contents_txt_box">
      <p class="ability_contents_box_txt">ITILファンデーション</p>
      </div>
  </div>
</div>
