.contents_name {
  font-size: 6vw;
  font-weight: bold;
  animation: SlideIn_contents 1s;
}

.screen_top {
  width: 100%;
  height: 19.5vh;
  /* background-color: yellow; */
}

.contents_txt {
  margin: 0;
  width: 30%;
  height: 1%;
  font-size: 3vw;
  font-weight: bold;
  padding-left: 55%;
  padding-top: 23%;
}

.ability_name1 {
  display: inline;
  margin: 0;
  color: #00A968;
  position: absolute;
  top: 62px;
  margin-left: 71.3%;
}

.ability_name2 {
  display: inline;
  margin: 0;
  position: absolute;
  top: 62px;
  margin-left: 75.8%;
}

.abilitty_bg1 {
  width: 20%;
  height:15vh;
  background: transparent linear-gradient(90deg, #D8EE8C 0%, #D5EE8D 0%, #8CEEA2 100%) 0% 0% no-repeat padding-box;
  float: left;
  animation: SlideIn_contents_left 1.5s;
}

.ability_dumy {
  width: 5%;
  height:84.5vh;
  float: left;
}

.abilitty_bg2 {
  width: 25%;
  height:84.5vh;
  background:#8CEEA2;
  float: left;
  animation: SlideIn_ability 1.5s;
}

.abilitty_bg3 {
  width: 25%;
  height:84.5vh;
  background: transparent linear-gradient(91deg, #8CEEA2 0%, #51FFCB 100%) 0% 0% no-repeat padding-box;
  float: left;
  animation: SlideIn_ability 1.25s;
}

.abilitty_bg4 {
  width: 25%;
  height:84.5vh;
  background:#51FFCB;
  float: left;
  animation: SlideIn_ability 1s;
}

.ability_contents_txt1 {
  margin-top: -55px;
  margin-left: -156px;
  font-size: 77%;
  position: absolute;
}

.ability_contents_txt2 {
  margin-top: -55px;
  margin-left: -88px;
  font-size: 77%;
  position: absolute;
}

.ability_contents_txt3 {
  margin-top: -55px;
  margin-left: -88px;
  font-size: 77%;
  position: absolute;
}

.ability_contents_txt4 {
  margin-top: -50px;
  margin-left: -120px;
  font-size: 60%;
  position: absolute;
}

.ability_contents_txt_box {
  width: 250%;
  height: 5vw;
  margin-left: -155px;
  background-color: white;
  box-shadow: 0px 3px 10px #33333339;
  position: relative;
}

.ability_contents_box_txt {
  width: 80%;
  color: #FF1E9BF0;
  font-size: 46%;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.rl_select_button2 {
  padding-left: 50%;
  margin: 0;
  margin-top: -20px;
}

.left_select_button2 {
  margin-left: -28%;
  margin-top: 8%;
}

.right_select_button2 {
  margin-left: 15%;
  margin-top: -24%;
}

.left_select_button_size {
  width: 10%;
  opacity: 0.3;
}
.right_select_button_size {
  width: 16%;
  opacity: 0.3;
}

@keyframes SlideIn_ability {
  0% {
      opacity: 0;
      transform: translateY(1000px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes SlideIn_contents_left {
  0% {
      opacity: 0;
      transform: translateX(-500px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}
