.contents_name {
  font-size: 91px;
  font-weight: bold;
  animation: SlideIn_contents 1s;
}

.screen_top {
  width: 100%;
  height: 19.5vh;
}

.contents_txt {
  margin: 0;
  width: 30%;
  height: 40vh;
  font-size: 3vw;
  /* font-size: 43px; */
  /* font-weight: bold; */
  /* padding-left: 55%; */
  /* padding-top: 23%; */
  position: fixed;
  right: 150px;
  top: 400px;

}

.about_name1 {
  display: inline;
  margin: 0;
  color: #00A968;
  position: absolute;
  top: 63px;
  margin-left: 73%;
  position: fixed;
  right: 335px;
}

.about_name2 {
  display: inline;
  margin: 0;
  position: absolute;
  top: 63px;
  margin-left: 77.9%;
  position: fixed;
  right: 74px;
}

.about_contents {
  width: 40%;
  height: 30.5vw;
  margin: 0;
  margin-top: 4.5%;
  margin-left: 6.5%;
  z-index: 2;
  position: fixed;
}

.about_contents1 {
  margin-top: 2%;
  /* margin-top: 15px; */
  margin-left: -20px;
  width: 80%;
  box-shadow: 0px 3px 10px #33333359;
}

ul {
  width: 110%;
  list-style: none;
  /* margin-top: 300px;
  margin-left: 600px; */
  margin-top: 59px;
  margin-left: -45px;

}

.about_contents_txt1 {
  width: 130%;
  /* font-size: 120%; */
  margin-top: -240px;
  margin-left: -35px;
  /* position: fixed;
  top: 460px; */
}

.about_contents_txt {
  /* font-size: 30px; */
  font-size: 0.76em;
  margin: 25px 0 27px -34px;
  /* margin: 2% 0 3% -5%; */
  /* position: fixed; */
  /* top: 480px; */
  /* width: 400px; */
  word-break: break-all;
}

.about_bg1 {
  width: 20%;
  height: 80.5vh;
  float: left;
}
.about_bg2 {
  width: 80%;
  height: 80.5vh;
  float: left;
  background: transparent linear-gradient(137deg, #8CEEA2 0%, #00D382 100%) 0% 0% no-repeat padding-box;
  animation: opacity 1.5s;
  position: fixed;
  top: 147px;
  right: 76px;
}

@keyframes opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* ==========================================================================
responsive
========================================================================== */

@media screen and (max-width: 1280px){

  .about_contents1 {
    width: 71%;
    margin-top: 4.5%;
  }

  .about_contents_txt {
    margin-top: 17px;
    margin-bottom: 8px;
  }

}

@media screen and (max-width: 1024px) {

  .contents_name {
    font-size: 65px;
  }

  .about_name1 {
    top: 87px;
    right:249px;
  }

  .about_name2 {
    top: 87px;
    right: 63px;
  }

  .about_bg2 {
    width: 76%;
    right: 64px;
  }

  ul {
    margin-left: -20px;
  }

  .contents_txt {
    font-size: 2.3vw;
    right: 80px;
    margin-top: -14px;
    margin-left: -40px;
  }

  .about_contents1 {
    width: 66%;
    margin-top: 4%;
    margin-left: 6%;
  }

}

@media screen and (max-width: 896px){

  .contents_txt {
    font-size: 1.8vw;
    right: 60px;
    margin-top: -3px;
  }

  .about_bg2 {
    width: 73%;
  }

  ul {
    margin-left: -25px;
  }

  .about_contents_txt {
    margin-top: 13px;
  }

  .about_contents1 {
    width: 55%;
    margin-top: 8%;
    margin-left: 13%;
  }
}

@media screen and (max-width: 480px) {

  .contents_name {
    font-size: 50px;
  }

  .about_name1 {
    position: absolute;
    right: 142px;
  }

  .about_name2 {
    position: absolute;
    right: 0px;
  }

  .about_contents {
    position: absolute;
    width: 90%;
    margin-left: -27px;
  }

  .contents_txt {
    position: absolute;
    font-size: 3vw;
  }

  ul {
    margin-top: 100px;
  }

  .about_bg2 {
    position: absolute;
    right: 63px;
    height: 69vh;
  }
}
