<div class="screen_top">
    <p class="contents_name about_name1">A</p>
    <p class="contents_name about_name2">BOUT</p>
</div>
<div class="about_bg1"></div>
<div class="about_bg2">
  <div class="about_contents">
      <img src="../assets/img/about.png" alt="about1" class="about_contents1">
  </div>
      <div class="contents_txt">
          <ul>
              <li class="about_contents_txt1">REN YAMAUCHI</li>
              <li class="about_contents_txt">GENDER : male</li>
              <li class="about_contents_txt">DATE OF BIRTH : 1996/10/04</li>
              <li class="about_contents_txt">AGE : 24</li>
              <li class="about_contents_txt">BLOOD TYPE : A</li>
              <li class="about_contents_txt">BIRTHPLACE : Chiba</li>
              <li class="about_contents_txt">OCCUPATION : Web designer</li>
          </ul>
      </div>
</div>
