<div class="screen_top">
  <p class="contents_name sns_name1">S</p>
  <p class="contents_name sns_name2">NS</p>
</div>
<div class="sns_bg1"></div>
<div class="sns_bg2">
  <div class="sns_contents_box1">
      <a href="#"><img src="../assets/img/sns-logo-T.png" alt="Twitter-logo" class="sns_contents_img1"></a>
      <p class="sns_contents_txt1">Twitter</p>
  </div>
  <div class="sns_contents_box2">
      <a href="#"><img src="../assets/img/sns-logo-L.png" alt="LINE-logo" class="sns_contents_img2"></a>
      <p class="sns_contents_txt2">LINE</p>
  </div>
  <div class="sns_contents_box3">
      <a href="#"><img src="../assets/img/sns-logo-I.png" alt="Instagram-logo" class="sns_contents_img3"></a>
      <p class="sns_contents_txt3">Instagram</p>
  </div>
  <div class="sns_contents_box4">
      <a href="#"><img src="../assets/img/sns-logo-F.png" alt="Facebook-logo" class="sns_contents_img4"></a>
      <p class="sns_contents_txt4">Facebook</p>
  </div>
</div>
