.contents_name {
  font-size: 6vw;
  font-weight: bold;
  animation: SlideIn_contents 1s;
}

.screen_top {
  width: 100%;
  height: 19.5vh;
}

.contents_txt {
  margin: 0;
  width: 30%;
  height: 1%;
  font-size: 3vw;
  font-weight: bold;
  padding-left: 55%;
  padding-top: 23%;
}

.contact_name1 {
  display: inline;
  margin: 0;
  color: #00A968;
  position: absolute;
  top: 62px;
  margin-left: 66%;
}

.contact_name2 {
  display: inline;
  margin: 0;
  position: absolute;
  top: 62px;
  margin-left: 70.3%;
}

.contact_bg1 {
  width: 10%;
  height: 80.5vh;
  float: left;
}

.contact_bg2 {
  width: 80%;
  height: 70vh;
  float: left;
  background: transparent linear-gradient(180deg, #8CEEA2 0%, #CBFF51 0%, #51FFCB 100%) 0% 0% no-repeat padding-box;
}

.contact_box {
  top: 129px;
  left: 240px;
  width: 80%;
  height: 40vw;
  background: transparent linear-gradient(180deg, #8CEEA2 0%, #CBFF51 0%, #51FFCB 100%) 0% 0% no-repeat padding-box;
  position: absolute;
}

.contact_contents_txt1 {
  margin: 0;
  margin-top: 55px;
  margin-left: 100px;
  font-size: 200%;
  font-weight: bold;
  display: inline-block;

}

.contact_contents_red_box1 {
  width: 1%;
  height: 4%;
  margin-top: 58px;
  margin-left: 10px;
  position: absolute;
  display: inline-block;
  background-color: #FF3939;
}

.contact_contents_txt_box1 {
  width: 70%;
  height: 2vw;
  margin-left: 102px;
  background-color: white;
  position: relative;
  border: none;
}
.contact_contents_txt2 {
  margin: 0;
  margin-top: 20px;
  margin-left: 100px;
  font-size: 200%;
  font-weight: bold;
  display: inline-block;

}

.contact_contents_red_box2 {
  width: 1%;
  height: 4%;
  margin-top: 23px;
  margin-left: 10px;
  position: absolute;
  display: inline-block;
  background-color: #FF3939;
}

.contact_contents_txt_box2 {
  width: 70%;
  height: 2vw;
  margin-left: 102px;
  background-color: white;
  position: relative;
  border: none;
}
.contact_contents_txt3 {
  margin: 0;
  margin-top: 20px;
  margin-left: 100px;
  font-size: 200%;
  font-weight: bold;
  display: inline-block;

}

.contact_contents_red_box3 {
  width: 1%;
  height: 4%;
  margin-top: 23px;
  margin-left: 10px;
  position: absolute;
  display: inline-block;
  background-color: #FF3939;
}

.contact_contents_txt_box3 {
  width: 70%;
  height: 2vw;
  margin-left: 102px;
  background-color: white;
  position: relative;
  border: none;
}

.contact_contents_txt4 {
  margin: 0;
  margin-top: 20px;
  margin-left: 100px;
  font-size: 200%;
  font-weight: bold;
  display: inline-block;

}

.contact_contents_txt_box4 {
  width: 70%;
  height: 2vw;
  margin-left: 102px;
  background-color: white;
  position: relative;
  border: none;
}

.contact_contents_txt5 {
  margin-top: 210px;
  font-size: 200%;
  font-weight: bold;
  display: inline-block;
}

.contact_contents_red_box5 {
  width: 2%;
  height: 6%;
  margin-top: 210px;
  margin-left: 10px;
  position: absolute;
  display: inline-block;
  background-color: #FF3939;
}

.contact_contents_txt_box5 {
  margin-top: -4%;
  border: none;
  position: relative;
}

.contact_left_box {
  display: inline-block;
  width: 50%;
}

.contact_right_box {
  display: inline-block;
  width: 49%;
  position: absolute;
  right: 65px;
  top: -10px;
}

.contact_button {
  color: #FFFFFF;
  text-shadow: 0px 3px 6px #00000029;
  box-shadow: 0px 3px 6px #33333339;
  background: transparent linear-gradient(180deg, #FFC551 0%, #FDB252 4%, #D30079 120%) 0% 0% no-repeat padding-box;
  margin-left: 42%;
  margin-top: 4%;
  border: none;
  width: 18%;
  height: 7vh;
  font-size: 1.8em;
  font-weight: bold;
}

input.ng-dirty.ng-invalid {
  background-color: #fee;
}

.error_txt1 {
  color: red;
  font-size: 2vh;
  margin-left: 35%;
}

.error_txt2 {
  color: red;
  font-size: 2vh;
  margin-left: 20%;
}

.error_txt3 {
  color: red;
  font-size: 2vh;
  margin-left: 20%;
}

.error_txt4 {
  color: red;
  font-size: 2vh;
  margin-left: 9%;
}

.error_txt5 {
  color: red;
  font-size: 2vh;
  margin-left: 21%;
}

.error_txt6 {
  color: red;
  font-size: 2vh;
  margin-left: 19%;
}

.error_txt7 {
  color: red;
  font-size: 2vh;
  margin-left: 2%;
}

.error_txt8 {
  color: red;
  font-size: 2vh;
  margin-top: -7%;
  margin-left: 35%;
  float: left;
}
