<header>
  <!-- pc -->
  <div class="header_box">
    <a routerLink="/home"><div class="nav_icon nav_icon1"></div></a>
    <a routerLink="/works"><div class="nav_icon nav_icon2"></div></a>
    <a routerLink="/about"><div class="nav_icon nav_icon3"></div></a>
    <a routerLink="/ability"><div class="nav_icon nav_icon4"></div></a>
    <a routerLink="/contact"><div class="nav_icon nav_icon5"></div></a>
    <a routerLink="/sns"><div class="nav_icon nav_icon6"></div></a>
    <a class="nt_text" href="#">NodeTECH.</a>
  </div>
</header>
<main class="main_contents">
  <a routerLink="/home"><img src="../assets/img/logo.png" alt="logo" class="logo"></a>
  <router-outlet></router-outlet>
</main>
<footer>
  <small class="cl">©ren-yamauchi</small>
</footer>
<nav>
  <!-- mobile -->
  <div class="header_box_mb">
    <!-- <div class="mb_left_btn"></div> -->
    <a routerLink="/home"><div class="nav_icon nav_icon1"></div></a>
    <a routerLink="/works"><div class="nav_icon nav_icon2"></div></a>
    <a routerLink="/about"><div class="nav_icon nav_icon3"></div></a>
    <a routerLink="/ability"><div class="nav_icon nav_icon4"></div></a>
    <a routerLink="/contact"><div class="nav_icon nav_icon5"></div></a>
    <a routerLink="/sns"><div class="nav_icon nav_icon6"></div></a>
    <!-- <div class="mb_right_btn"></div> -->
  </div>
</nav>
