.mb_bg {
  display: none;
}

.charactor {
  width: 54%;
  /* height: 676px; */
  /* height: 104vh; */
  position: absolute;
  margin-left: 36%;
}

.charactor_mb {
  display: none;
}

.name {
  margin-top: 70px;
  position: absolute;
  width:90%;
}

.F_name {
  color: black;
  font-size: 18.1vw;
  display: inline-block;
  height: 200px;
  margin-top: 70px;
  margin-left: -9px;
}

.L_name {
  color: black;
  font-size: 17.6vw;
  display: inline-block;
  margin-left: -15px;
}

.fadein-left {
  animation: fadein-left 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadein-left {
  from {
      opacity: 0;
      transform: translateX(0%);
  }
  to {
      opacity: 1;
  transform: translateX(3%);
  }
}

.fadein-right {
  animation: fadein-right 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadein-right {
  from {
      opacity: 0;
      transform: translateX(5%);
  }
  to {
      opacity: 1;
  transform: translateX(0);
  }
}

/* ==========================================================================
responsive
========================================================================== */

@media screen and (max-width: 1280px){

.charactor {
  margin-left: 36%;
}

.name {
  margin-top: 50px;
}

}
@media screen and (max-width: 1024px) {

.charactor {
  margin-left: 35%;
}

.name {
  margin-top: 35px;
}

.F_name {
  height: 175px;
}

}

@media screen and (max-width: 896px){

.name {
  margin-top: 20px;
}

.F_name {
  height: 150px;
}

}
@media screen and (max-width: 480px) {

.charactor {
  display: none;
}

.charactor_mb {
  width: 390px;
  height: 390px;
  margin-top: 30px;
  margin-left: 170px;
  display: block;
  position: absolute;
  animation: fadein-right 1.5s;
}

.mb_bg {
  display: block;
  width: 479px;
  height: 154px;
  margin-top: 260px;
  background: transparent linear-gradient(180deg, #51FFCB 0%, #00D382 100%) 0% 0% no-repeat padding-box;
}

.name {
  margin-top: -415px;
  width:100%;
}

.F_name {
  font-size: 65px;
  height: 0;
  margin-top: 270px;
  margin-left: 6px;
}

.L_name {
  font-size: 65px;
  margin-left: -1px;
}

}
