<div class="screen_top">
  <p class="contents_name works_name1">W</p>
  <p class="contents_name works_name2">ORKS</p>
</div>
<div class="works_bg1">
  <div class="works_contents">
      <div class="swiper-container works_details">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="index.html"><img src="../assets/img/works1.png" alt="works1" class="a"></a></div>
            <div class="swiper-slide"><img src="../assets/img/coming_soon.png" alt="coming_soon" class="a"></div>
          </div>
      </div>
  </div>
  <div>
      <div class="contents_txt">
          <div class="swiper-container">
              <div class="swiper-wrapper">
                  <div class="works_contents_txt swiper-slide">REN YAMAUCHI portfolio site</div>
                  <div class="works_contents_txt swiper-slide">Coming Soon...</div>
              </div>
          </div>
      </div>
      <div class="swiper-button-prev swiper-button-black"></div>
      <div class="swiper-button-next swiper-button-black"></div>
  </div>
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../slick.js"></script>
